# Task 1
## Remove duplicates 
### a=[2,3,4,2,3,4,8,9,12,"apple",'Apple']

In [2]:
a=[2,3,4,2,3,4,8,9,12,"apple",'Apple']

In [3]:
print("original list:",a)

original list: [2, 3, 4, 2, 3, 4, 8, 9, 12, 'apple', 'Apple']

In [7]:
a=[set(a)]

In [8]:
print("list after removing dupilcate elements:",a)

list after removing dupilcate elements: [{2, 3, 4, 8, 9, 12, 'Apple', 'apple'}]

In [9]:
a

[{12, 2, 3, 4, 8, 9, 'Apple', 'apple'}]

# Task 2
## slice 'apple' from the give variable
### B='i need an apple'

In [11]:
B='i need an apple'

In [12]:
c=(B[10:15])

In [13]:
c

'apple'

# Task-3

## Add both number when both number are even,

In [19]:
def add(x1,y1):
    if x1 and y1%2==0:
        x=x1+y1
        print(x,"is even")
        return x

In [20]:
add(12,4)

16 is even

16

## Multiple when both number are not a even number

In [62]:
def mul(x2,y2):
    if x2 and y2 % 2 == 1:
        y=x2*y2
    print(y, "is not even")
    return y

In [63]:
mul (15,3)

45 is not even

45

In [64]:
mul (23,5)

115 is not even

115

# Task-4
## Create a module and excute the module for the above task-3

In [65]:
def add(x1,y1):
    if x1 and y1%2==0:
        x=x1+y1
        print(x,"is even")
        return x
def mul(x2,y2):
    if x2 and y2 % 2 == 1:
        y=x2*y2
    print(y, "is not even")
    return y

In [66]:
add (12,34)
mul (5,9)

46 is even
45 is not even

45

# Task-5
## Write a Python program to display a multiplication table(8th table) using for loop.

In [70]:
mul = 8
for z in range(1,16):
    print(z, "*", mul, "=", mul*z)

1 * 8 = 8
2 * 8 = 16
3 * 8 = 24
4 * 8 = 32
5 * 8 = 40
6 * 8 = 48
7 * 8 = 56
8 * 8 = 64
9 * 8 = 72
10 * 8 = 80
11 * 8 = 88
12 * 8 = 96
13 * 8 = 104
14 * 8 = 112
15 * 8 = 120