## Function and OOPs

### 1. Write a function add_numbers that takes two numbers as arguments and returns their sum.

In [1]:
def add_numbers (a,b):
    c= a+b
    return c

In [2]:
add_numbers(9,8)

17

In [3]:
add_numbers(9,-8)

1

### 2. Write a function multiply_numbers that takes two numbers as arguments and returns their product.

In [4]:
  def multiply_numbers (a,b):
    c= a*b
    return c

In [5]:
multiply_numbers(3,4)

12

In [6]:
multiply_numbers(-3,4)

-12

### 3. Write a function divide_numbers that takes two numbers as arguments and returns their quotient. Make sure to handle the case where the second number is 0.

In [7]:
def divide_numbers (a,b):
         if b == 0:
            return "Error: Cannot divide by zero" 
         else:
            return a/b

In [8]:
print( divide_numbers(18,2))

9.0

In [9]:
print (divide_numbers(18,0))

Error: Cannot divide by zero

### 4. Write a function calculate_average that takes a list of numbers as an argument and returns their average.

In [10]:
n=(1,2,3,4,5,6,7,8,9,10) 
def calculate_average(n):
    return sum(n) /len(n)

In [11]:
calculate_average(n)

5.5

### 5. Write a function is_prime that takes a number as an argument and returns True if the number is prime and False otherwise.

In [12]:
def is_prime(number):
    if number < 5:
        return False
    else:
        for i in range(5, number):
            if number % i == 0:
                return False
        return True

In [13]:
is_prime(7)

True

In [14]:
is_prime(10)

False

### 6. Create a class Bank with attributes name and accounts. Add methods add_account, remove_account, and get_total_balance that add an account to the list, remove an account from the list, and return the total balance of all accounts, respectively.

In [15]:
class Account:
    def __init__(self, balance):
        self.balance = balance

class Bank:
    def __init__(self, name):
        self.name = name
        self.accounts = []

    def add_account(self, account):
        self.accounts.append(account)

    def remove_account(self, account):
        self.accounts.remove(account)
    def get_total_balance(self):
         return sum(account.balance for account in self.accounts)

In [16]:
bank = Bank("My Bank")
account1 = Account(7000)
account2 = Account(4000)
bank.add_account(account1)
bank.add_account(account2)

In [17]:
print(bank.get_total_balance())

11000

In [18]:
bank.remove_account(account1)
print(bank.get_total_balance())

4000