### 1. Create a tuple my_tuple with the values 1, 2, and 3. Print the tuple.

In [1]:
my_tuple=(1,2,3)
type (my_tuple)

tuple

In [2]:
print (f'{my_tuple}')

(1, 2, 3)

### 2. Create a set my_set with the values 1, 2, and 3. Print the set.

In [3]:
my_set={1,2,3}
type (my_set)

set

In [4]:
print (f'{my_set}')

{1, 2, 3}

### 3. Create a dictionary my_dict with keys "apple", "banana", and "cherry" and values 1, 2, and 3. Print the dictionary.

In [5]:
my_dict={"apple":1,"banana":2,"cherry":3}

In [6]:
my_dict.keys()

dict_keys(['apple', 'banana', 'cherry'])

In [7]:
my_dict.values()

dict_values([1, 2, 3])

In [8]:
print (f'{my_dict}')

{'apple': 1, 'banana': 2, 'cherry': 3}

### 4. Use a for loop to print the values in my_tuple one by one.

In [9]:
my_tuple

(1, 2, 3)

In [10]:
for i in my_tuple:
    print(i)

1
2
3

### 5. Use a for loop to print the values in my_set one by one.

In [11]:
my_set

{1, 2, 3}

In [12]:
for i in my_set:
    print(i)

1
2
3

### 6. Use a for loop to print the keys and values in my_dict one by one.

In [13]:
my_dict

{'apple': 1, 'banana': 2, 'cherry': 3}

In [14]:
for x,y in my_dict.items():
    print(x,y)

apple 1
banana 2
cherry 3

### 7. Use a while loop to print the numbers from 1 to 10.

In [23]:
i=1
while i < 11:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

### 8. Use a while loop to print the even numbers from 2 to 10.

In [24]:
i=2
while i < 11:
    print(i)
    i=i+2

2
4
6
8
10

### 9. Use a while loop to print the squares of the numbers from 1 to 5.

In [25]:
i=1
while i <= 5:
    print(i**2)
    i=i+1

1
4
9
16
25

### 10. Use a for loop to print the sum of the numbers in my_tuple.

In [26]:
sum=1
for i in my_tuple:
    print(i+sum)

2
3
4